<templateSet group="PHPUnit">
  <template name="@test" value="public function test$NAME$(): void&#10;{&#10;&#9;$END$&#10;}" description="PHPUnit test" toReformat="true" toShortenFQNames="true">
    <variable name="NAME" expression="" defaultValue="" alwaysStopAt="true" />
    <context>
      <option name="PHP Class Member" value="true" />
    </context>
  </template>
</templateSet>